body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.peter-parker{
    display: flex;
}
.half-width{
    width: 50%;
}
.button{
    text-decoration: none;
    color: white;
    background-image:linear-gradient(orange tomato);
    border-radius: 10px;
}